@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.navi li{
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
}

.pagination {
  justify-content: center;
}


.body { padding-top: 70px; }

.row { padding-top: 10px; }
.col { margin-top: 10px; }
.toprow { padding-top: 80px; }
.main { min-height: calc(100vh - 230px);
        padding-bottom: 50px ;
}

footer { height: 230px; }